binds {
    // === Help ===
    Mod+Slash hotkey-overlay-title="Show this help menu" { spawn-sh "$HOME/.local/scripts/niri-binds"; }

    // === Applications ===
    Mod+Space   hotkey-overlay-title="Application: App Launcher"  { spawn-sh "$LAUNCHER"; }
    Mod+B       hotkey-overlay-title="Application: Web Browser"   { spawn-sh "$BROWSER"; }
    Mod+E       hotkey-overlay-title="Application: File Manager"  { spawn-sh "$FILE_MANAGER"; }
    Mod+Return  hotkey-overlay-title="Application: Terminal"      { spawn-sh "$TERMINAL"; }

    // === Equibop ===
    Alt+Page_Down  hotkey-overlay-title="Equibop: Deafen"    { spawn-sh "equibop --toggle-deafen"; }
    Alt+Page_Up    hotkey-overlay-title="Equibop: Mute"      { spawn-sh "equibop --toggle-mic"; }

    // === Audio ===
    Mod+Shift+P allow-when-locked=true hotkey-overlay-title="Media: Play/Pause" { spawn-sh "playerctl play-pause"; }
    Mod+Shift+B allow-when-locked=true hotkey-overlay-title="Media: Previous"   { spawn-sh "playerctl previous"; }
    Mod+Shift+N allow-when-locked=true hotkey-overlay-title="Media: Next"       { spawn-sh "playerctl next"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // === Overview ===
    Mod+Tab repeat=false hotkey-overlay-title="Toggle Overview" { toggle-overview; }

    // === Screenshots ===
    Print       hotkey-overlay-title="Screenshot: Area"   { screenshot; }
    Ctrl+Print  hotkey-overlay-title="Screenshot: Screen" { screenshot-screen; }
    Alt+Print   hotkey-overlay-title="Screenshot: Window" { screenshot-window; }

    // === Window Management ===
    Mod+Q repeat=false hotkey-overlay-title="Close Window" { close-window; }

    Mod+H	hotkey-overlay-title="Focus Left"  { focus-column-left; }
    Mod+J	hotkey-overlay-title="Focus Down"  { focus-window-down; }
    Mod+K	hotkey-overlay-title="Focus Up"    { focus-window-up; }
    Mod+L	hotkey-overlay-title="Focus Right" { focus-column-right; }
    
    Mod+Ctrl+H	hotkey-overlay-title="Move Left"  { move-column-left; }
    Mod+Ctrl+J	hotkey-overlay-title="Move Down"  { move-window-down; }
    Mod+Ctrl+K	hotkey-overlay-title="Move Up"    { move-window-up; }
    Mod+Ctrl+L	hotkey-overlay-title="Move Right" { move-column-right; }

    Mod+Shift+H	hotkey-overlay-title="Focus Monitor Left"  { focus-monitor-left; }
    Mod+Shift+J	hotkey-overlay-title="Focus Monitor Down"  { focus-monitor-down; }
    Mod+Shift+K	hotkey-overlay-title="Focus Monitor Up"    { focus-monitor-up; }
    Mod+Shift+L	hotkey-overlay-title="Focus Monitor Right" { focus-monitor-right; }

    Mod+U	hotkey-overlay-title="Workspace Down" { focus-workspace-down; }
    Mod+I	hotkey-overlay-title="Workspace Up"   { focus-workspace-up; }

    Mod+Ctrl+U hotkey-overlay-title="Move Window to Workspace Down" { move-window-to-workspace-down; }
    Mod+Ctrl+I hotkey-overlay-title="Move Window to Workspace Up"   { move-window-to-workspace-up; }
    
    Mod+1 hotkey-overlay-title="Switch to Workspace 1" { focus-workspace 1; }
    Mod+2 hotkey-overlay-title="Switch to Workspace 2" { focus-workspace 2; }
    Mod+3 hotkey-overlay-title="Switch to Workspace 3" { focus-workspace 3; }
    Mod+4 hotkey-overlay-title="Switch to Workspace 4" { focus-workspace 4; }
    Mod+5 hotkey-overlay-title="Switch to Workspace 5" { focus-workspace 5; }

    Mod+BracketLeft  hotkey-overlay-title="Group Window Left"  { consume-or-expel-window-left; }
    Mod+BracketRight hotkey-overlay-title="Group Window Right" { consume-or-expel-window-right; }

    Mod+R       hotkey-overlay-title="Preset Width"  { switch-preset-column-width; }
    Mod+Shift+R hotkey-overlay-title="Preset Height" { switch-preset-window-height; }
    
    Mod+F       hotkey-overlay-title="Maximize Column"   { maximize-column; }
    Mod+Shift+F hotkey-overlay-title="Fullscreen Window" { fullscreen-window; }
    Mod+Ctrl+F  hotkey-overlay-title="Fill Available Width" { expand-column-to-available-width; }

    Mod+C       hotkey-overlay-title="Center Column" { center-column; }

    Mod+Minus	hotkey-overlay-title="Width -10%" { set-column-width "-10%"; }
    Mod+Equal	hotkey-overlay-title="Width +10%" { set-column-width "+10%"; }

    Mod+V       hotkey-overlay-title="Toggle Floating" { toggle-window-floating; }
    Mod+W       hotkey-overlay-title="Toggle Tabbed View" { toggle-column-tabbed-display; }
    
    Mod+Escape  hotkey-overlay-title="Inhibit Shortcuts" { toggle-keyboard-shortcuts-inhibit; }

    // === Misc ===
    Mod+P hotkey-overlay-title="Clipboard History" { spawn-sh "$HOME/.local/scripts/niri-clipboard"; }

    // === Exit ===
    Ctrl+Alt+Delete hotkey-overlay-title="Quit Niri" { quit; }
}
