[Desktop Entry]
Name=Equibop
GenericName=Internet Messenger
Type=Application
Categories=Network;InstantMessaging;Chat;
Keywords=discord;vencord;electron;chat;equibop
MimeType=x-scheme-handler/discord
Exec=equibop --ozone-platform=wayland --no-sandbox %U
Icon=discord
StartupWMClass=equibop
