input {
    keyboard {
        xkb {
            file "~/.config/keymap.xkb"
        }
    }
    mouse {
        accel-speed 0
        accel-profile "flat"
    }
}
gestures {
    hot-corners {
        off
    }
}
