input {
	keyboard {
		xkb {
			layout "us,ru"
			options "grp:caps_toggle" // Change layout on caps (Shift+Caps for default caps action)
		}
	}
	mouse {
		accel-speed 0.2
		accel-profile "flat"
	}
	focus-follows-mouse
	warp-mouse-to-focus
}
